*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    border: solid 1px black
}

.nav>li{
    float: left;
    padding: 10px;
}
.content{
border: dotted 2px red;
}
.hidden{
    display: none;
    
    
}